# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import re
import os

# File Loading

In [2]:
folder = 'data_cars'
files = os.listdir(folder)

dfs = []

headers = ['URL','Car','Status','Price_1','Price_2','Mileage','Dealer_1','Dealer_2','Dealer_3']

for file in files:
    path = os.path.join(folder, file)
    
    df = pd.read_excel(path, names=headers)
    
    dfs.append(df)

Cars = pd.concat(dfs)

Cars = Cars.drop_duplicates(subset='URL')
Cars.dropna(subset=['Car'], inplace=True)
Cars

,URL,Car,Status,Price_1,Price_2,Mileage,Dealer_1,Dealer_2,Dealer_3
1,https://www.cars.com/vehicledetail/5ee74d2b-dd...,2023 Mazda CX-50 2.5 S Premium Plus Package,New,36703,NaN,"\n\n\n $36,703\n\n MSRP $38,635\n\n\n",NaN,NaN,NaN
2,https://www.cars.com/vehicledetail/460b9155-fa...,2023 Kia Sportage S,New,28990,NaN,"\n\n\n $28,990\n\n\n\n",NaN,Classic Kia,NaN
3,https://www.cars.com/vehicledetail/a0594120-25...,2024 Chevrolet Camaro 2LT,New,41425,NaN,"\n\n\n $41,425\n\n MSRP $41,425\n\n\n",NaN,Classic Chevrolet Beaumont,NaN
4,https://www.cars.com/vehicledetail/b185d19c-b4...,2023 Ford Bronco Badlands,Used,NaN,58900.0,"1,551 mi.",Mike Smith Chrysler Dodge Jeep RAM,NaN,NaN
5,https://www.cars.com/vehicledetail/52bb1768-17...,2021 Acura TLX Advance,Used,NaN,34499.0,"30,384 mi.",Mike Smith Nissan,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10494,https://www.cars.com/vehicledetail/06665049-49...,2023 Chevrolet Corvette Stingray w/3LT,New,122455,NaN,"\n\n\n $122,455\n\n\n\n",NaN,NaN,Chase Chevrolet
10495,https://www.cars.com/vehicledetail/9e367454-56...,2023 Chevrolet Corvette Stingray w/3LT,New,125930,NaN,"\n\n\n $125,930\n\n\n\n",NaN,NaN,Chase Chevrolet
10496,https://www.cars.com/vehicledetail/d578331d-53...,2023 Jeep Wrangler Rubicon,New,53715,NaN,"\n\n\n $53,715\n\n MSRP $58,715\n\n\n ...",NaN,Stockton Dodge Chrysler Jeep RAM,NaN
10497,https://www.cars.com/vehicledetail/3b7dc7d4-60...,2023 Jeep Wrangler Rubicon 392,New,91450,NaN,"\n\n\n $91,450\n\n MSRP $86,455\n\n\n ...",NaN,Stockton Dodge Chrysler Jeep RAM,NaN
10498,https://www.cars.com/vehicledetail/928e7189-1c...,2023 Chrysler 300 S,New,52000,NaN,"\n\n\n $52,000\n\n MSRP $53,000\n\n\n ...",NaN,Stockton Dodge Chrysler Jeep RAM,NaN

Let's navigate into the dataset:

# Data Cleaning

In [3]:
Cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80005 entries, 1 to 10498
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   URL       80005 non-null  object
 1   Car       80005 non-null  object
 2   Status    80005 non-null  object
 3   Price_1   43680 non-null  object
 4   Price_2   36325 non-null  object
 5   Mileage   80005 non-null  object
 6   Dealer_1  35080 non-null  object
 7   Dealer_2  38574 non-null  object
 8   Dealer_3  6193 non-null   object
dtypes: object(9)
memory usage: 6.1+ MB

In [4]:
Cars.describe()

,URL,Car,Status,Price_1,Price_2,Mileage,Dealer_1,Dealer_2,Dealer_3
count,80005,80005,80005,43680,36325.0,80005,35080,38574,6193
unique,80005,14132,33,22854,16325.0,64573,6852,6685,3175
top,https://www.cars.com/vehicledetail/5ee74d2b-dd...,2023 Ford F-150 XLT,New,Not Priced,12995.0,\n\n\n Not Priced\n\n,Auto Hub,Billion Chrysler Jeep Dodge Ram Fiat of Sioux ...,Elite Motors
freq,1,347,43678,1848,79.0,805,102,91,35

We need to get the next fields:

- Brand
- Model
- Year
- Status
- Mileage
- Dealer
- Price

Let's work on this!

## Brand

In order to get the Brand field, I see two possible approaches:

- Extract from the first words of Car field.
- Use a dictionary.

Personally I prefer the second one, since I suspect the Brand name isn't always in the same position, as well as we will find Brands with one, two, three words that gonna make difficult the task.

In [5]:
brands_df = pd.read_excel('master_data/brands.xlsx')

brands_df

                keyword               brands
0                  Ford                 Ford
1             Chevrolet            Chevrolet
2                Toyota               Toyota
3                 Honda                Honda
4                Nissan               Nissan
..                  ...                  ...
58  International Scout  International Scout
59                  Geo                  Geo
60           Oldsmobile           Oldsmobile
61                Isuzu                Isuzu
62             Plymouth             Plymouth

[63 rows x 2 columns]

In [6]:
brands_dict = brands_df.set_index('keyword')['brands'].to_dict()

def assign_profile(row):
    for col in ['Car']:
        cell_value = str(row[col])
        for keyword, brands in brands_dict.items():
            if keyword.lower() in cell_value.lower():
                return brands
    return 'Other'

Cars['Brand'] = Cars.apply(assign_profile, axis=1)

In [7]:
brands_counts = Cars['Brand'].value_counts()

print(brands_counts)

Ford                   9993
Chevrolet              8174
Toyota                 7561
Jeep                   4826
GMC                    4162
BMW                    3831
Honda                  3264
Mercedes               3102
Lexus                  2981
Kia                    2808
RAM                    2628
Audi                   2438
Nissan                 2385
Mazda                  1933
Cadillac               1884
Dodge                  1847
Hyundai                1769
Volkswagen             1690
Subaru                 1369
Acura                  1255
Land Rover             1239
Porsche                1043
Volvo                  1018
Genesis                 921
Lincoln                 905
Infiniti                875
Buick                   680
Tesla                   572
Chrysler                539
Mitsubishi              420
Jaguar                  408
Alfa Romeo              234
Maserati                232
MINI                    190
Bentley                 147
Aston Martin            110
Rolls-Royce              80
Ferrari                  72
Pontiac                  65
Lamborghini              64
McLaren                  55
FIAT                     44
Scion                    32
Polestar                 32
Hummer                   29
Saturn                   22
Rivian                   22
Mercury                  12
Lucid                     8
Saab                      8
Karma                     6
Lotus                     6
Smart                     5
Suzuki                    4
Maybach                   1
International Scout       1
Plymouth                  1
Geo                       1
Isuzu                     1
Oldsmobile                1
Name: Brand, dtype: int64

In [8]:
other_cars = Cars[Cars['Brand'] == 'Other']['Car']

print(other_cars)

Series([], Name: Car, dtype: object)

Perfect!

## Model

The approach is the same as the brand, creating and using a dictionary:

In [9]:
models_df = pd.read_excel('master_data/models.xlsx')

models_df

        keyword      model
0     Outlander  Outlander
1       Mustang    Mustang
2         F-150      F-150
3      Explorer   Explorer
4        Escape     Escape
..          ...        ...
812     Allante    Allante
813           2          2
814           1          1
815           3          3
816           6          6

[817 rows x 2 columns]

In [10]:
models_dict = models_df.set_index('keyword')['model'].to_dict()

def assign_profile(row):
    for col in ['Car']:
        cell_value = str(row[col])
        for keyword, model in models_dict.items():
            if isinstance(keyword, str) and keyword.lower() in cell_value.lower():
                return model
    return 'Other'

Cars['Model'] = Cars.apply(assign_profile, axis=1)

In [11]:
models_counts = Cars['Model'].value_counts()

print(models_counts)

F-150             2491
Silverado         2399
Sierra            1991
Grand Cherokee    1676
Mustang           1507
                  ...
Vanquish             1
Mazda2               1
S-TYPE               1
G20                  1
924 S                1
Name: Model, Length: 606, dtype: int64

In [12]:
Cars[['Brand','Model','Price_1','Price_2','Mileage']]

,Brand,Model,Price_1,Price_2,Mileage
1,Mazda,CX-5,36703,NaN,"\n\n\n $36,703\n\n MSRP $38,635\n\n\n"
2,Kia,Sportage,28990,NaN,"\n\n\n $28,990\n\n\n\n"
3,Chevrolet,Camaro,41425,NaN,"\n\n\n $41,425\n\n MSRP $41,425\n\n\n"
4,Ford,Bronco,NaN,58900.0,"1,551 mi."
5,Acura,TLX,NaN,34499.0,"30,384 mi."
...,...,...,...,...,...
10494,Chevrolet,Corvette,122455,NaN,"\n\n\n $122,455\n\n\n\n"
10495,Chevrolet,Corvette,125930,NaN,"\n\n\n $125,930\n\n\n\n"
10496,Jeep,Wrangler,53715,NaN,"\n\n\n $53,715\n\n MSRP $58,715\n\n\n ..."
10497,Jeep,Wrangler,91450,NaN,"\n\n\n $91,450\n\n MSRP $86,455\n\n\n ..."
10498,Chrysler,300,52000,NaN,"\n\n\n $52,000\n\n MSRP $53,000\n\n\n ..."

In [13]:
other_cars = Cars[Cars['Model'] == 'Other']['Car']

print(other_cars)

Series([], Name: Car, dtype: object)

Now looks nice!

## Year

In [14]:
Cars['Year'] = Cars['Car'].str[:4]

In [15]:
Cars['Year'].value_counts()

2023    30701
2024    14898
2022     6397
2021     5304
2020     4856
2019     3601
2018     2736
2017     2380
2016     1844
2015     1554
2014     1158
2013      922
2012      670
2011      592
2010      383
2008      329
2007      292
2009      254
2006      219
2005      168
2004      159
2003      100
2002       97
2001       66
2000       52
1999       35
1995       26
1998       22
1997       22
1994       22
1990       16
1996       16
1989       14
1987       11
1993       10
1992        8
1991        7
1982        5
1971        5
1969        5
1973        5
1977        5
1988        4
1986        4
1984        4
1978        4
1979        4
1970        4
1985        3
1972        2
1975        2
1967        2
1974        1
1976        1
1966        1
1959        1
1983        1
1968        1
Name: Year, dtype: int64

Perfect!

## Status

To get the Status, we will transform the Certified ones into a single "Certified" Category:

In [16]:
Cars['Status'].value_counts()

New                        43678
Used                       31436
Toyota Certified             641
Ford Certified               490
Chevrolet Certified          389
BMW Certified                317
Honda Certified              304
Mercedes-Benz Certified      286
Porsche Certified            258
GMC Certified                192
Kia Certified                191
Volkswagen Certified         187
Audi Certified               187
Acura Certified              185
Cadillac Certified           185
Nissan Certified             171
Volvo Certified              163
Jeep Certified               157
INFINITI Certified           126
Hyundai Certified            104
Subaru Certified              78
Lincoln Certified             72
Dodge Certified               62
RAM Certified                 51
Buick Certified               24
Ferrari Certified             19
Chrysler Certified            13
Genesis Certified             10
Bentley Certified              9
Rolls-Royce Certified          9
Maserati Certified             7
Aston Martin Certified         2
Alfa Romeo Certified           2
Name: Status, dtype: int64

In [17]:
Cars['Status'] = Cars['Status'].astype(str)
Cars['Status'] = Cars['Status'].apply(lambda x: 'Certified' if 'Certified' in x else x)

In [18]:
Cars['Status'].value_counts()

New          43678
Used         31436
Certified     4891
Name: Status, dtype: int64

## Mileage

We need to transform the Mileage column. First of all we need to delete ones that include the ' mi.' string, and then, for the rest we will delete the ' mi.' string:

In [19]:
def transform_mileage(mileage):
    if isinstance(mileage, str) and ' mi.' in mileage:
        return float(mileage.replace(' mi.', '').replace(',', '').strip())
    else:
        return np.nan

Cars['Mileage'] = Cars['Mileage'].apply(transform_mileage)

In [20]:
Cars

,URL,Car,Status,Price_1,Price_2,Mileage,Dealer_1,Dealer_2,Dealer_3,Brand,Model,Year
1,https://www.cars.com/vehicledetail/5ee74d2b-dd...,2023 Mazda CX-50 2.5 S Premium Plus Package,New,36703,NaN,NaN,NaN,NaN,NaN,Mazda,CX-5,2023
2,https://www.cars.com/vehicledetail/460b9155-fa...,2023 Kia Sportage S,New,28990,NaN,NaN,NaN,Classic Kia,NaN,Kia,Sportage,2023
3,https://www.cars.com/vehicledetail/a0594120-25...,2024 Chevrolet Camaro 2LT,New,41425,NaN,NaN,NaN,Classic Chevrolet Beaumont,NaN,Chevrolet,Camaro,2024
4,https://www.cars.com/vehicledetail/b185d19c-b4...,2023 Ford Bronco Badlands,Used,NaN,58900.0,1551.0,Mike Smith Chrysler Dodge Jeep RAM,NaN,NaN,Ford,Bronco,2023
5,https://www.cars.com/vehicledetail/52bb1768-17...,2021 Acura TLX Advance,Used,NaN,34499.0,30384.0,Mike Smith Nissan,NaN,NaN,Acura,TLX,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
10494,https://www.cars.com/vehicledetail/06665049-49...,2023 Chevrolet Corvette Stingray w/3LT,New,122455,NaN,NaN,NaN,NaN,Chase Chevrolet,Chevrolet,Corvette,2023
10495,https://www.cars.com/vehicledetail/9e367454-56...,2023 Chevrolet Corvette Stingray w/3LT,New,125930,NaN,NaN,NaN,NaN,Chase Chevrolet,Chevrolet,Corvette,2023
10496,https://www.cars.com/vehicledetail/d578331d-53...,2023 Jeep Wrangler Rubicon,New,53715,NaN,NaN,NaN,Stockton Dodge Chrysler Jeep RAM,NaN,Jeep,Wrangler,2023
10497,https://www.cars.com/vehicledetail/3b7dc7d4-60...,2023 Jeep Wrangler Rubicon 392,New,91450,NaN,NaN,NaN,Stockton Dodge Chrysler Jeep RAM,NaN,Jeep,Wrangler,2023
10498,https://www.cars.com/vehicledetail/928e7189-1c...,2023 Chrysler 300 S,New,52000,NaN,NaN,NaN,Stockton Dodge Chrysler Jeep RAM,NaN,Chrysler,300,2023

## Dealer

In order to get the Dealer we will combine the three Dealer columns, since just one of them has the right value, and the other ones has NaN:

In [21]:
Cars['Dealer'] = Cars['Dealer_1'].combine_first(Cars['Dealer_2']).combine_first(Cars['Dealer_3'])

In [22]:
Cars

,URL,Car,Status,Price_1,Price_2,Mileage,Dealer_1,Dealer_2,Dealer_3,Brand,Model,Year,Dealer
1,https://www.cars.com/vehicledetail/5ee74d2b-dd...,2023 Mazda CX-50 2.5 S Premium Plus Package,New,36703,NaN,NaN,NaN,NaN,NaN,Mazda,CX-5,2023,NaN
2,https://www.cars.com/vehicledetail/460b9155-fa...,2023 Kia Sportage S,New,28990,NaN,NaN,NaN,Classic Kia,NaN,Kia,Sportage,2023,Classic Kia
3,https://www.cars.com/vehicledetail/a0594120-25...,2024 Chevrolet Camaro 2LT,New,41425,NaN,NaN,NaN,Classic Chevrolet Beaumont,NaN,Chevrolet,Camaro,2024,Classic Chevrolet Beaumont
4,https://www.cars.com/vehicledetail/b185d19c-b4...,2023 Ford Bronco Badlands,Used,NaN,58900.0,1551.0,Mike Smith Chrysler Dodge Jeep RAM,NaN,NaN,Ford,Bronco,2023,Mike Smith Chrysler Dodge Jeep RAM
5,https://www.cars.com/vehicledetail/52bb1768-17...,2021 Acura TLX Advance,Used,NaN,34499.0,30384.0,Mike Smith Nissan,NaN,NaN,Acura,TLX,2021,Mike Smith Nissan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10494,https://www.cars.com/vehicledetail/06665049-49...,2023 Chevrolet Corvette Stingray w/3LT,New,122455,NaN,NaN,NaN,NaN,Chase Chevrolet,Chevrolet,Corvette,2023,Chase Chevrolet
10495,https://www.cars.com/vehicledetail/9e367454-56...,2023 Chevrolet Corvette Stingray w/3LT,New,125930,NaN,NaN,NaN,NaN,Chase Chevrolet,Chevrolet,Corvette,2023,Chase Chevrolet
10496,https://www.cars.com/vehicledetail/d578331d-53...,2023 Jeep Wrangler Rubicon,New,53715,NaN,NaN,NaN,Stockton Dodge Chrysler Jeep RAM,NaN,Jeep,Wrangler,2023,Stockton Dodge Chrysler Jeep RAM
10497,https://www.cars.com/vehicledetail/3b7dc7d4-60...,2023 Jeep Wrangler Rubicon 392,New,91450,NaN,NaN,NaN,Stockton Dodge Chrysler Jeep RAM,NaN,Jeep,Wrangler,2023,Stockton Dodge Chrysler Jeep RAM
10498,https://www.cars.com/vehicledetail/928e7189-1c...,2023 Chrysler 300 S,New,52000,NaN,NaN,NaN,Stockton Dodge Chrysler Jeep RAM,NaN,Chrysler,300,2023,Stockton Dodge Chrysler Jeep RAM

## Price

Same approach as Dealer, but we need also to transform into a numeric:

In [23]:
Cars['Price'] = Cars['Price_1'].combine_first(Cars['Price_2'])
Cars['Price'] = pd.to_numeric(Cars['Price'], errors='coerce')

In [24]:
Cars.head(50)

,URL,Car,Status,Price_1,Price_2,Mileage,Dealer_1,Dealer_2,Dealer_3,Brand,Model,Year,Dealer,Price
1,https://www.cars.com/vehicledetail/5ee74d2b-dd...,2023 Mazda CX-50 2.5 S Premium Plus Package,New,36703,NaN,NaN,NaN,NaN,NaN,Mazda,CX-5,2023,NaN,36703.0
2,https://www.cars.com/vehicledetail/460b9155-fa...,2023 Kia Sportage S,New,28990,NaN,NaN,NaN,Classic Kia,NaN,Kia,Sportage,2023,Classic Kia,28990.0
3,https://www.cars.com/vehicledetail/a0594120-25...,2024 Chevrolet Camaro 2LT,New,41425,NaN,NaN,NaN,Classic Chevrolet Beaumont,NaN,Chevrolet,Camaro,2024,Classic Chevrolet Beaumont,41425.0
4,https://www.cars.com/vehicledetail/b185d19c-b4...,2023 Ford Bronco Badlands,Used,NaN,58900.0,1551.0,Mike Smith Chrysler Dodge Jeep RAM,NaN,NaN,Ford,Bronco,2023,Mike Smith Chrysler Dodge Jeep RAM,58900.0
5,https://www.cars.com/vehicledetail/52bb1768-17...,2021 Acura TLX Advance,Used,NaN,34499.0,30384.0,Mike Smith Nissan,NaN,NaN,Acura,TLX,2021,Mike Smith Nissan,34499.0
6,https://www.cars.com/vehicledetail/6c4f8f63-05...,2022 Volkswagen Golf GTI 2.0T Autobahn,Certified,NaN,34000.0,13895.0,Volkswagen of Beaumont,NaN,NaN,Volkswagen,Golf,2022,Volkswagen of Beaumont,34000.0
7,https://www.cars.com/vehicledetail/7dd93af8-87...,2021 GMC Yukon Denali,Used,NaN,56954.0,68506.0,BMW of Beaumont,NaN,NaN,GMC,Yukon,2021,BMW of Beaumont,56954.0
8,https://www.cars.com/vehicledetail/78ee816a-be...,2023 BMW M340 i,New,61715,NaN,NaN,NaN,BMW of Beaumont,NaN,BMW,M340,2023,BMW of Beaumont,61715.0
9,https://www.cars.com/vehicledetail/566bdb25-ca...,2023 Hyundai Sonata Hybrid Limited,New,37945,NaN,NaN,NaN,Hyundai of Silsbee,NaN,Hyundai,Sonata,2023,Hyundai of Silsbee,37945.0
10,https://www.cars.com/vehicledetail/fce328b2-f8...,2023 Hyundai Sonata Hybrid SEL,New,33495,NaN,NaN,NaN,Hyundai of Silsbee,NaN,Hyundai,Sonata,2023,Hyundai of Silsbee,33495.0
11,https://www.cars.com/vehicledetail/bd3902cd-e4...,2023 Jeep Grand Cherokee Overland,New,63627,NaN,NaN,NaN,NaN,Granger Chrysler Dodge Jeep Ram,Jeep,Grand Cherokee,2023,Granger Chrysler Dodge Jeep Ram,63627.0
12,https://www.cars.com/vehicledetail/5ec4c2ee-6c...,2023 Jeep Wagoneer Series II,New,67998,NaN,NaN,NaN,Granger Chrysler Dodge Jeep Ram,NaN,Jeep,Wagoneer,2023,Granger Chrysler Dodge Jeep Ram,67998.0
13,https://www.cars.com/vehicledetail/3b5233b0-92...,2023 Dodge Durango GT,New,48998,NaN,NaN,NaN,Granger Chrysler Dodge Jeep Ram,NaN,Dodge,Durango,2023,Granger Chrysler Dodge Jeep Ram,48998.0
14,https://www.cars.com/vehicledetail/2081cc39-03...,2024 Ford Mustang GT Premium,New,52105,NaN,NaN,NaN,Town & Country Ford,NaN,Ford,Mustang,2024,Town & Country Ford,52105.0
15,https://www.cars.com/vehicledetail/0260f3fc-15...,2023 Ford F-350 Lariat,New,76816,NaN,NaN,NaN,Town & Country Ford,NaN,Ford,F-350,2023,Town & Country Ford,76816.0
16,https://www.cars.com/vehicledetail/71a72799-1b...,2024 Cadillac XT5 Premium Luxury,New,Not Priced,NaN,NaN,NaN,Navarre Chevrolet Cadillac,NaN,Cadillac,XT5,2024,Navarre Chevrolet Cadillac,NaN
17,https://www.cars.com/vehicledetail/bf0c7bb3-ba...,2019 INFINITI QX30 Luxe,Used,NaN,23589.0,29009.0,Volkswagen of Lake Charles,NaN,NaN,Infiniti,QX30,2019,Volkswagen of Lake Charles,23589.0
18,https://www.cars.com/vehicledetail/2f13d96e-5e...,2023 Honda Passport Elite,New,47935,NaN,NaN,NaN,Community Honda,NaN,Honda,Passport,2023,Community Honda,47935.0
19,https://www.cars.com/vehicledetail/5b0877a2-da...,2023 GMC Yukon SLT,New,71125,NaN,NaN,NaN,NaN,Big Star Buick GMC,GMC,Yukon,2023,Big Star Buick GMC,71125.0
20,https://www.cars.com/vehicledetail/bd768a23-62...,2021 Lexus ES 350 Ultra Luxury,Used,NaN,39895.0,22251.0,Big Star Buick GMC,NaN,NaN,Lexus,ES,2021,Big Star Buick GMC,39895.0
21,https://www.cars.com/vehicledetail/e24f4262-dc...,2022 GMC Sierra 1500 Elevation,Certified,NaN,45995.0,7142.0,Big Star Buick GMC,NaN,NaN,GMC,Sierra,2022,Big Star Buick GMC,45995.0
23,https://www.cars.com/vehicledetail/686cd84b-8c...,2023 Mazda CX-30 2.5 S Carbon Edition,New,30890,NaN,NaN,NaN,NaN,NaN,Mazda,CX-30,2023,NaN,30890.0
24,https://www.cars.com/vehicledetail/b82ff6ef-2f...,2023 GMC Yukon AT4,New,77345,NaN,NaN,NaN,Big Star Buick GMC,NaN,GMC,Yukon,2023,Big Star Buick GMC,77345.0
25,https://www.cars.com/vehicledetail/0c08e590-ee...,2023 GMC Yukon Denali Ultimate,New,99605,NaN,NaN,NaN,Big Star Buick GMC,NaN,GMC,Yukon,2023,Big Star Buick GMC,99605.0
26,https://www.cars.com/vehicledetail/0dac4744-c3...,2023 GMC Yukon Denali,New,89925,NaN,NaN,NaN,Big Star Buick GMC,NaN,GMC,Yukon,2023,Big Star Buick GMC,89925.0
27,https://www.cars.com/vehicledetail/b533931e-50...,2023 GMC Yukon Denali Ultimate,New,100205,NaN,NaN,NaN,Big Star Buick GMC,NaN,GMC,Yukon,2023,Big Star Buick GMC,100205.0
28,https://www.cars.com/vehicledetail/2dbd9745-00...,2023 GMC Yukon AT4,New,75600,NaN,NaN,NaN,NaN,Big Star Buick GMC,GMC,Yukon,2023,Big Star Buick GMC,75600.0
29,https://www.cars.com/vehicledetail/615390b5-77...,2019 Toyota Tundra SR5,Used,NaN,36990.0,33196.0,Big Star Buick GMC,NaN,NaN,Toyota,Tundra,2019,Big Star Buick GMC,36990.0
30,https://www.cars.com/vehicledetail/169cfd45-ae...,2023 Cadillac CT5 Premium Luxury RWD,New,53805,NaN,NaN,NaN,Ron Craft Cadillac,NaN,Cadillac,CT5,2023,Ron Craft Cadillac,53805.0
31,https://www.cars.com/vehicledetail/96def52a-8e...,2024 Buick Envista Avenir,New,31655,NaN,NaN,NaN,Martin Chevrolet Buick GMC,NaN,Buick,Envista,2024,Martin Chevrolet Buick GMC,31655.0
32,https://www.cars.com/vehicledetail/4c18c5f3-64...,2017 Mazda CX-5 Touring,Used,NaN,16995.0,97892.0,Bacliff Auto,NaN,NaN,Mazda,CX-5,2017,Bacliff Auto,16995.0
33,https://www.cars.com/vehicledetail/4b918ec1-1f...,2023 Honda Civic LX,New,25845,NaN,NaN,NaN,Sterling McCall Honda,NaN,Honda,Civic,2023,Sterling McCall Honda,25845.0
34,https://www.cars.com/vehicledetail/91b68963-da...,2017 Honda Accord EX w/Honda Sensing,Used,NaN,16141.0,95294.0,Sterling McCall Honda,NaN,NaN,Honda,Accord,2017,Sterling McCall Honda,16141.0
35,https://www.cars.com/vehicledetail/83de1921-3e...,2022 Ford Maverick XL,New,Not Priced,NaN,NaN,NaN,NaN,Planet Ford 59,Ford,Maverick,2022,Planet Ford 59,NaN
36,https://www.cars.com/vehicledetail/b0cc8de4-bd...,2022 Ford Maverick XLT,New,Not Priced,NaN,NaN,NaN,NaN,Planet Ford 59,Ford,Maverick,2022,Planet Ford 59,NaN
37,https://www.cars.com/vehicledetail/3353b87c-d6...,2021 Volkswagen Atlas SEL,Used,NaN,33127.0,32298.0,Tejas Toyota,NaN,NaN,Volkswagen,Atlas,2021,Tejas Toyota,33127.0
38,https://www.cars.com/vehicledetail/3eb973be-83...,2023 Toyota 4Runner SR5 Premium,New,49521,NaN,NaN,NaN,Tejas Toyota,NaN,Toyota,4Runner,2023,Tejas Toyota,49521.0
39,https://www.cars.com/vehicledetail/410920d9-5b...,2023 Toyota 4Runner SR5 Premium,New,50342,NaN,NaN,NaN,Tejas Toyota,NaN,Toyota,4Runner,2023,Tejas Toyota,50342.0
40,https://www.cars.com/vehicledetail/34a66aba-b1...,2023 Jeep Wagoneer L Series II,New,82365,NaN,NaN,NaN,Texan Dodge Chrysler Jeep Ram,NaN,Jeep,Wagoneer,2023,Texan Dodge Chrysler Jeep Ram,82365.0
41,https://www.cars.com/vehicledetail/2587436c-99...,2023 GMC Yukon SLE,New,63280,NaN,NaN,NaN,Texan GMC Buick,NaN,GMC,Yukon,2023,Texan GMC Buick,63280.0
42,https://www.cars.com/vehicledetail/3eb49c4e-5a...,2023 GMC Yukon SLT,New,71530,NaN,NaN,NaN,Texan GMC Buick,NaN,GMC,Yukon,2023,Texan GMC Buick,71530.0
43,https://www.cars.com/vehicledetail/da674924-fa...,2023 GMC Yukon SLT,New,70490,NaN,NaN,NaN,Texan GMC Buick,NaN,GMC,Yukon,2023,Texan GMC Buick,70490.0
45,https://www.cars.com/vehicledetail/1b5b4684-cb...,2024 Mazda Mazda3 FWD w/Premium Package,New,32110,NaN,NaN,NaN,NaN,NaN,Mazda,Mazda3,2024,NaN,32110.0
46,https://www.cars.com/vehicledetail/08cf64ea-95...,2023 GMC Yukon Denali,New,91765,NaN,NaN,NaN,Texan GMC Buick,NaN,GMC,Yukon,2023,Texan GMC Buick,91765.0
47,https://www.cars.com/vehicledetail/9b13f5b3-52...,2023 GMC Yukon XL AT4,New,78335,NaN,NaN,NaN,Texan GMC Buick,NaN,GMC,Yukon,2023,Texan GMC Buick,78335.0
48,https://www.cars.com/vehicledetail/f274897b-ff...,2023 GMC Yukon Denali,New,83500,NaN,NaN,NaN,Texan GMC Buick,NaN,GMC,Yukon,2023,Texan GMC Buick,83500.0
49,https://www.cars.com/vehicledetail/651f9b66-fe...,2012 Toyota Sequoia Platinum,Used,NaN,22288.0,114355.0,Mac Haik Ford Pasadena,NaN,NaN,Toyota,Sequoia,2012,Mac Haik Ford Pasadena,22288.0
50,https://www.cars.com/vehicledetail/b566690d-fe...,2020 Lincoln Continental Standard,Used,NaN,28788.0,39500.0,Mac Haik Ford Pasadena,NaN,NaN,Lincoln,Continental,2020,Mac Haik Ford Pasadena,28788.0
51,https://www.cars.com/vehicledetail/dd7c3087-96...,2008 Mercury Grand Marquis GS,Used,NaN,13500.0,50564.0,Fall Creek Motor Cars,NaN,NaN,Mercury,Marquis,2008,Fall Creek Motor Cars,13500.0
52,https://www.cars.com/vehicledetail/5734f5a0-a7...,2023 Lexus IS 500 F SPORT Performance,Used,NaN,60995.0,1199.0,Sterling McCall Lexus Clear Lake,NaN,NaN,Lexus,IS,2023,Sterling McCall Lexus Clear Lake,60995.0

# Generating files

Now let's generate the files!

In [25]:
Cars_file = Cars[['Brand','Model','Year','Status','Mileage','Dealer','Price']]
Cars_file.to_excel('cars.xlsx', index=False)
Cars_file.to_csv('cars.csv', index=False, encoding="utf-16")